$primary:#1C5557;
$secondary:#66D9BC;
$third-color:#348c76;
$back-color:#173f35;



$h1:50px;
$h2:40px;
$h3:30px;
$h4:24px;
$h5:20px;
$h6:16px;



$startAnimation:0.2s;
$releaseAnimation:0.5s;



@import "node_modules/bootstrap/scss/bootstrap";



*{
	padding: 0px;
	margin: 0px;

	font-family: "Shantell sans",sans-serif;
}

body{
	background-color: $back-color;
	color:white;
	overflow-x:hidden;
}



h1{
	font-size:$h1;
}
h2{
	font-size:$h2;
	margin-bottom: 20px;
}
h4{
	font-size:$h4;
}
section{
	padding: 3.5rem 0px;

	.row > div{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.myImageHolder{
		align-items: center;
	}
}




.btn{
	font-size: $h6;
	color:white;

	a{
		text-decoration: none;
		color:white;
	}
}
.btn:hover{
	background-color: $secondary;
	box-shadow: 0px 0px 20px $third-color;
}
.btn-primary{
	background-color: $third-color;
}



.burgerButton{
	display: grid;
	place-items:center;

	font-size: $h5;
	z-index: 2;

	position: fixed;

	top:0px;
	right:0px;

	padding:20px;
}
.sideMenu{
	position: fixed;

	z-index: 5;

	opacity: 0;
	visibility: hidden;

	transition:all $startAnimation;

	width:100%;
	height:100%;

	.background{
		display: none;

		position: fixed;
		top:0px;
		left:0px;

		z-index:1;

		background-color:rgba(0,0,0,0.8);
		opacity: 0;

		width:100%;
		height: 100%;

		transition: $startAnimation;
	}
	nav{
		display:none;

		z-index:3;

		color:red;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		height:100%;
		width:100%;
	}
	nav a{
		display:none;

		z-index: 3;

		font-size:$h4;
		color:white;
		text-decoration: none;

		margin:10px 0px;
	}
}
.sideMenu.open{

	opacity: 1;
	visibility: visible;

	.background{
		display: block;
		opacity: 1;
		transition: $releaseAnimation;
	}
	nav{
		display: flex;
	}
	nav a{
		display: inline;
	}
}
.noScroll{
	overflow: hidden;
}



.divider{
	img{
		width:100%;
		height:auto;
	}
}



.loaderWrapper{
	width:100%;
	height:100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size:$h1;

	i{
		color:$secondary;
	}
}

#header{
	.row >div{
		flex-direction: row;
	}

	width:100%;
	z-index: 100;

	padding: 20px 0px;
	background-color: $third-color;

	transition:all $releaseAnimation;

	h4{
		padding:0px;
		margin:0px;

		transition:all $releaseAnimation;

		cursor: pointer;
	}
	.col{
		display:flex;
		justify-content: space-between;
		align-items:center;
	}
	ul{
		padding: 0px;
		margin:0px;

		display: flex;
		justify-content: space-between;
		align-items:center;

		list-style-type: none;
	}
	li{
		padding:0px;
		margin: 0px 10px;
	}
	a{
		text-decoration:none;
		color:inherit;

		font-size:20px;
		transition:all $releaseAnimation;

		position: relative;
	}
	span:after{
		opacity: 1;
		position: absolute;

		transform:scaleX(0);

		width:100%;

		content:"";
		background-color:white;
		
		bottom:-3px;
		left:0px;

		height:3px;

		border-radius: 15px;

		transition: all $releaseAnimation;

		pointer-events: none;
	}

	a:hover span:after{
		opacity: 1;

		transform:scaleX(1);

		width:100%;

		transition: all $startAnimation;
	}

	h4:hover,a:hover{
		text-shadow: 0px 0px 20px $secondary;
		transition: all $startAnimation;
	}
}

#hero{
	min-height: calc(300px + 15rem);
}

#about{
	background-color: #227E67;
}

#zaprosy{
	text-align: center;
	font-size: $h4;

	.row{
		gap:0px;
		margin-bottom:10px;
	}
	.row:last-child{
		margin-bottom:0px;
	}

	.zapros{
		text-align:center;

		margin:5px 0px;
		padding:10px 10px;

		border:1px solid $secondary;
		border-radius: 15px;

		/*UNSELECTABLE - made for not interrupting animation*/
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;

		p{
			margin:0px;
			padding: 0px;
		}

		transition: all calc($releaseAnimation*2);
	}
	.zapros:hover{
		transform:scale(1.1);
		transform:translateY(-10px);
		box-shadow: 0px 0px 20px $secondary;
		transition: all $startAnimation;

		cursor:pointer;
	}
	.zapros:active{
		transform:translate(0px);
		box-shadow:none;
	}
}

#information{

	background-color: #227E67;

	h2{
		margin-bottom: 40px;
	}
	h4{
		margin-bottom: 20px;
	}

	.myParagraph{
		margin-bottom: 40px;
	}
}

#services{
	text-align: center;

	.card{
		z-index: 0;
		
		margin: 20px 0px;

		background-color: rgba(0, 0, 0, 0);

		border:1px solid $secondary;

		.price{
			font-size:$h2;
			margin-bottom:10px;
			color:white;
		}
		.card-title{
			font-size:$h4;
			margin-bottom: 20px;
			color:$secondary;
		}
		p{
			margin-bottom: 20px;
		}
		.btn{
			width:100%;
			margin-bottom: 10px;
		}
		span{
			opacity: 0.5;
			font-size:calc($h6 * 0.8);
		}

		transition: all calc($releaseAnimation * 2);

		cursor:pointer;
	}
	.card:hover{
		box-shadow: 0px 0px 20px $secondary;
		transform:translateY(-10px);

		transition: all $startAnimation;
	}
	.card:active{
		transform:translateY(0px);
		box-shadow: none;
	}
}

#myGoal{
	background-color: #227E67;

	h2{
		margin-bottom:40px;
	}
	h4{
		margin-bottom: 20px;
	}
	.myParagraph{
		margin-bottom:40px;
	}
}

#guide{
	text-align: center;

	h2{
		text-align: center;
		margin-bottom: 40px;
	}
	.col-sm{

	}
	.btn{
		width:100%;
	}
}

#contact{
	background-color: #227E67;

	.col-md{
		display: flex;
		flex-direction: column;
		justify-content: center;

		margin-bottom: 40px;
	}
	h4{
		display: inline;
		float:left;
	}
	#phoneNumber{
		transition: all $releaseAnimation;
		cursor: pointer;
	}
	#phoneNumber:hover{
		transition: all $startAnimation;
		color:$secondary;
	}
	#mail{
		cursor: pointer;
	}
	#mail:hover{
		color:$secondary;
	}
	.iconGroup{
		margin-bottom:20px;

		a{
			font-size:$h1;
			color:$back-color;
			transition: $releaseAnimation;

			text-decoration: none;
		}
		a:hover{
			cursor:pointer;
			color:white;
			transition: $startAnimation;
		}
	}
}

#footer{
	text-align: center;

	width:100%;
	z-index: 100;

	padding: 10px 0px;
	margin:0px;


	.col{
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items:center;
	}
	p{
		padding: 0px;
		margin:0px;
	}
}


/*----------Progress Scroll-------------*/

.progressContainer {
	position: fixed;
	z-index: 100;

	width: 100%;
	height: 4px;

	background: rgba(0, 0, 0, 0.1);
}

#progressBar{
	height: 100%;
	width: 0%;
	background: $secondary;
}	

/*------Animation---------*/

.myImageHolder{
	animation: moveToTop 1.5s ease-in-out 0s infinite alternate;
}

.animate{
	opacity: 0;
	transform:scale(1.1);
	transition: all $startAnimation;
}
.show{
	opacity: 1;
	transform: scale(1);
}

@keyframes moveToTop{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(-10px);
	}
}

/*------Media queries-------*/



//standard values for 0px screen
section{
	text-align: center;
}

#header{
	display:none;
}



//change if bigger than 
@include media-breakpoint-up(sm) {
}


@include media-breakpoint-up(md) {
	section{
		text-align: start;
	}

	.burgerButton{
		display: none;
	}

	#header{
		display: block;
	}
	#hero{
		text-align: start;

		.row > div:last-child{
		//photo has to be on the right side
		}
	}
}

//If screen is bigger than ($value) do something
@include media-breakpoint-up(lg) {
	
}
